process {
  executor = 'slurm'
  cpus = 4
  memory = '16GB'
  time = '2h'

  withLabel: 'process_low' {
        executor = 'local'
        cpus = 1
        memory = '4GB'
  }
  
}

executor {
  name = 'slurm'
  queueSize = 20     // Max number of jobs in the scheduler queue
  maxSubmit = 20     // Max number of jobs submitted per cycle
}

conda {
  enabled = true
  useMamba = false
  channels = ['conda-forge', 'bioconda', 'defaults']

}
